<!--views/register.js-->

<%- include("partials/head.ejs") %>
<%- include("partials/header.ejs") %>
<form method="POST">
    <input type="hidden" name="_csrf" value="<%= _csrf %>"> <!-- CSRF Token -->
    <div>
        <label name="name">Enter your name:</label>
        <label>
            <input name="name" />
        </label>
    </div>
    <div>
        <label name="email">Enter your email:</label>
        <label>
            <input name="email" />
        </label>
    </div>
    <div>
        <label name="password">Enter your password:</label>
        <label>
            <input type="password" name="password" />
        </label>
    </div>
    <div>
        <label name="password1">Confirm your password:</label>
        <label>
            <input type="password" name="password1" />
        </label>
    </div>
    <div>
        <button>Register</button>
        <a href="/">
            <button type="button">Cancel</button>
        </a>
    </div>
</form>
<%- include("partials/footer.ejs") %>
